* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --header-bg: #ff6900;
    --discount: #ff0000;
    --label: #008000;
    --details: #000000;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    background-color: var(--header-bg);
}

.d-flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}