        /* General  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --header-bg: #ff6900;
    --discount: #ff0000;
    --label: #008000;
    --details: #000000;
    --primary-color: #ffffff;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    margin: 0 10rem 0 10rem;
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
}

.space-between {
    justify-content: space-between;
}

.jc-center {
    justify-content: center;
}

a {
    text-decoration: none;
    color: var(--primary-color);
    padding: .1rem;
    
}

.align-center {
    align-items: center;
}

.small-text {
    font-size: .7rem;
}

.column {
    flex-direction: column;
}

/* .m-top-2 {
    margin-top: 2rem;
} */

        /* Header  */
header {
    background-color: var(--header-bg);
    font-size: .8rem;
    position: fixed;
    width: 100%;
    z-index: 1;
    
    
}
header img {
    width: 100px;
}

header div.container {
    padding: 1rem .5rem;
    
}
        /* Main */
main img {
    width: 100%;
    padding: 2rem .5rem 0;
    
}

.card {
    position: relative;
    width: calc(100% / 3)
}

div.small-box {
    background-color: var(--primary-color);
    position: absolute;
    right: 8px;
    top: 40px;
    padding: .2rem .5rem;
}

.label-style {
    padding: .3rem .5rem;
    font-size: .7rem;
    font-weight: bold;
    color: var(--primary-color);
}
.red {
    background-color: var(--discount);
    position: absolute;
    left: 9px;
    bottom: 75px;  
}

.green {
    background-color: var(--label);
    position: absolute;
    left: 53px;
    bottom: 75px;  
}

.info-product {
    padding-left: .5rem;
    
}

h5.title {
    text-transform:uppercase;
    font-weight: bold;
    
}

.discounted {
    color: var(--discount);
    font-weight: bold;
}
.original {
    color: var(--details);
    text-decoration: line-through;
}

.row {
    padding: 3.5rem;
}
.product-b {
    display: none;
}
.card:hover .product-b{
    position: absolute;
    display: block;
    top: 1px;
}

.one-label{
    left: 9px;
}
        /* Footer */
footer {
    background-color: var(--details);
    color: var(--primary-color);
    padding: 1rem .5rem;
    line-height: 1.3rem;

}

div.info h4{
    padding: .1rem;
}
