        /* General  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --header-bg: #ff6900;
    --discount: #ff0000;
    --label: #008000;
    --details: #000000;
    --primary-color: #ffffff;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    margin: 0 10rem 0 10rem;
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
}

.space-between {
    justify-content: space-between;
}

.jc-center {
    justify-content: center;
}

a {
    text-decoration: none;
    color: var(--primary-color);
    padding: .1rem;
    
}

.align-center {
    align-items: center;
}

/* .m-top-2 {
    margin-top: 2rem;
} */

        /* Header  */
header {
    background-color: var(--header-bg);
    font-size: .8rem;
}
header img {
    width: 100px;
}

header div.container {
    padding: 1rem .5rem;
}
        /* Main */
main img {
    width: calc(100% / 3);
    padding: 2rem .5rem;
}

        /* Footer */
footer {
    background-color: var(--details);
    color: var(--primary-color);
    padding: .5rem;
}

